@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,400;1,400;1,600&display=swap");

.notfound {
  background-color: #0080ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 64em;
  border-radius: 2em;
  border-style: solid;
  border-color: white;
  border-width: 1em;
}

.notfound-Icon {
  padding-bottom: 3em;
}

.notfound-Text {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 200;
}
