* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  padding: 60px;
  height: 230px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 2em;
  border-style: solid;
  border-color: white;
  border-width: 1em;
  z-index: 100;
}

.navBar {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e4e4e4;
  height: 100px;
  border-radius: 2em;
  border-style: solid;
  border-color: white;
  border-width: 1em;
}

.seccion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
  height: 100%;
  background-color: #e4e4e4;
  border-radius: 2em;
  border-style: solid;
  border-color: white;
  border-width: 1em;
}

.footer {
  padding: 60px;
  height: 100px;
  background-color: lightblue;
}
