.AddButton {
	color: white;
	width: 60px;
	height: 60px;
	background-color: #cd4ff7;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	position: absolute;
	bottom: 3%;
	right: 3%;
	border: 1px solid #cd4ff7;
	transition: all 0.5s ease;
}

.AddButton:hover {
	color: #cd4ff7;
	background-color: white;
	transform: rotate(180deg);
}
