.MovementForm {
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	border-top: 1px solid grey;
	padding: 5% 5%;
	position: relative;
}

.MovementForm form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 190px;
}

.MovementForm h2 {
	color: white;
	margin: 0;
}

.MovementForm .closeForm {
	color: #cd4ff7;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	border: 1px solid #cd4ff7;
	position: absolute;
	right: 10px;
	top: 10px;
	transition: all 0.3s ease;
}

.MovementForm .closeForm:hover {
	background-color: tomato;
	color: white;
	transform: scale(1.21);
}

.MovementForm input,
select {
	height: 40px;
	font-size: 30px;
	font-weight: bold;
}

.MovementForm .submit {
	color: white;
	cursor: pointer;
	width: 80%;
	height: 40px;
	background-color: #cd4ff7;
	border-radius: 10px;
	display: flex;
	font-size: 100%;
	font-weight: bold;
	align-self: center;
	justify-content: center;
	align-items: center;
	border: 1px solid #cd4ff7;
	transition: all 0.3s ease;
}

.MovementForm .submit:hover {
	background-color: white;
	color: #cd4ff7;
}
